################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
src/Frontend/react-app/node_modules
**/.vs/
**/.vscode/

.github
KtsWebApp.pdf
LICENSE

**/.env
**/certs/

bin/
obj/
**/bin/
**/obj/

.DS_Store