################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.gitgub
README.md
KtsWebApp.pdf
LICENSE
**/.env
**/certs/

bin/
obj/
**/bin/
**/obj/

.DS_Store