services:
  db:
    platform: linux/x86_64
    image: geny952/mssql-database:latest
    container_name: mssql_db
    ports:
      - "1433:1433"
    command: 

    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 1qaz@WSX -C -Q \"SELECT 1\""]
      interval: 10s
      timeout: 5s
      retries: 2
    restart: unless-stopped
  webapp: 
    platform: linux/x86_64
    image: geny952/dotnet_app:2.0.2
    container_name: kts_backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: always
  ui:
    platform: linux/x86_64
    image: geny952/react-app:2.0.1
    container_name: kts_frontend 
    ports:
      - "3000:3000"
    depends_on:
      webapp:
        condition: service_started
    restart: always

networks:
  default:
    driver: bridge