@section Header{
    <div>
        <p>КТС - Разработка ПО</p>
        <div>
            <p>Заявка</p>
            <p>Портфолио</p>
            <p>Контакты</p>
        </div>
    </div>
}

@{
    Layout = "_LayoutMain";
}

<div>
    <div>
        <div>
            <h1>Добро пожаловть в КТС</h1>
            <p class="lead">Мы предлагаем широкий спектр услуг по разработке программного обеспечения. От веб-приложения до облачного хранилища - мы поможем воплотить ваши идеи в жизнь</p>
            <button>Создать заявку</button>
        </div>
        <div>
            <div>Веб разработка</div>
            <div>Создание современных сайтов и приложений</div>
        </div>
        <div>
            <div>Модибльная разработка</div>
            <div>Рзаработка приложений для Android и iOS</div>
        </div>
        <div>
            <div>DevOps и облако</div>
            <div>Настройка инфраструктуры и автоматизация процессов</div>
        </div>
    </div>
</div>