.form_check_input:checked {
    background-color: #90EE90;
    border: none;
    outline: none;
    box-shadow: none;
}

.form_check_input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.25em;
    vertical-align: top;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    border: none;
    outline: none;
}

.form_check_inline:hover {
    background-color: #90EE90;
    border-color: #90EE90;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    border-color: white;
    border-width: 0px;
    border-radius: 10px;
    outline: none;
}

.form_check_inline {
    display: inline-flex;
    align-items: center;
    margin-right: 2.5rem;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form_check_input:hover {
    background-color: #90EE90;
    border-color: #90EE90;
}

.form_check_label {
    margin-left: 0.5em;
    font-size: 1.1em;
}