.title_request {
    position: relative;
    margin: 3vh 0 5vh 10vh;
}

.back_block_request {
    background-color: #C7CED3;
    height: 30vh;
    box-shadow: inset 0 0 50px #8B9EAC;
}

.text_field_request {
    position: relative;
    width: 100vw;
}

.text_field_request_text {
    width: 90vw;
    margin: 2.5vh 5vw 0 5vw;
    border: none;
    border-radius: 5px;
    height: 20vh;
    box-shadow: 0 0 50px #8B9EAC;
}

.radio_buttons {
    position: relative;
    margin: 0 0 5vh 10vh;
}

.button_request {
    position: relative;
    float: right;
    margin: 1vh 5vw;
}

.btn {
    border-radius: 5px;
    color: black;
    background-color: #CCEEDD;
}