.blocks {
    margin: 12vh 12vh 0 12vh;
}


.blocks-group {
    display: flex;
    justify-content: space-between;
}

.back-blocks {
    margin: 10vh 0 0 0vw;
    position: relative;
    height: 40vh;
    width: 25vw;
    background-color: #C7CED3;
    border-radius: 15px;
}

.front-blocks {
    position: relative;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    background-color: #CCEEDD;
    border-radius: 15px;
}

a.blocks-link {
    all: unset;
    cursor: pointer;
    position: absolute;
    inset: 0;
}

.blocks-text {
    position: relative;
    left: 2%;
    width: 20vw;
    height: 100%;
    top: 0.5%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    pointer-events: none;
}

.blocks-title {
    font-size: 3vh;
    color: #0F1938;
    pointer-events: none;
}

.blocks-description {
    font-size: 2.2vh;
    color: #3E496A;
}

.blocks-image {
    padding-top: 1vh;
    margin-left: 0.8vh;
    width: 100%;
    height: 100%;
}

.blocks-image-source {
    width: 100%;
    height: auto;
}

@media(max-width: 1650px) {
    .blocks-title {
        font-size: 1.4vw;
    }

    .blocks-description {
        font-size: 1.2vw;
    }
}