<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header>
        <div>
            <div class="head left"></div>
            <div class="head left"></div>
            <div class="head left"></div>
            <div class="head right"></div>
            <div class="head right"></div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div> Все права защищены кунг-фу пандой</div>
    </footer>
</body>
</html>