.login_register_form{
    display: flex;
}

.separator_block{
    display: flex;
    text-align: center;
    align-items: center;
}
.separator{
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    margin-top:0;
    margin-bottom: 0;
}

.login_register_block{
    display: flex;
    align-items: center;
    text-align: center;
    
}

.login_register_link{
    color: #9C27B0;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}
.login_register_link:hover{
    color:#7B1FA2;
    transform: translateY(-2px);
    display: inline-block;
}
