.header {
    position: relative;
    bottom: 100%;
    background-color: #C7CED3;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 5vh 2.5vh 5vh;
}

.content {
    padding: 0 10vh 0 10vh;
}

.title {
    position: relative;
    color: #3E496A;
    font-size: 30px;
}

.nav-link:link {
    font-size: 20px;
    color: #3E496A;
}

.nav-link:visited {
    color: #4862b3;
}
